.alert {
    color: black;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    right: 20%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    z-index: 1111;
    }
    .alert p {
    margin: 0;
    }
    .alert-error {
    background: lightcoral;
    }
    .alert-success {
    background: lightgreen;
    }
    .alert-newRound {
        background: azure;
    }
    .alert-gameStarting {
        background: lightgreen;
    }
    .alert-gameOver {
        background: lightsalmon;
    }
    .alert-endRound {
        background: azure;
    }
    .close {
    color: white;
    cursor: pointer;
    margin-right: 10px;
    }